
@font-face {
    font-family: CaviarDreams_Bold;
    src: url("CaviarDreams_Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: #f5f5f5;
    font-family: CaviarDreams_Bold;
}

div{
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px #ccc;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
    padding: 0;
    text-align: justify;
}


#nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  list-style-type: none;
}

h1{
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 0;
}

h2{
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  width:400px;
  align-items: center;
}

#error{
  border : 1px solid red;
  width:50%;
  padding:20px;
  justify-content: center;
  margin-top: 30px;
  transition: all .35s ease-Out;
}

.noStyle{
  margin: unset;
  width: unset;
  padding: unset;
  background-color: unset;
  border-radius: unset;
  box-shadow: unset;
  border: unset;
}


input[type=text], input[type=password] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input{
  transition: all .35s ease-Out;
}

input[type=submit], input[type=reset] {
  width: 150px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  background-color: #45a049;
  transition: all .35s ease-Out;
}

input[type=submit]:hover {
  background-color: #5fdd63;
  transition: all .35s ease-Out;
}


input[type=reset] {
  background-color: #bf5658;
  transition: all .35s ease-Out;
}

input[type=reset]:hover {
  background-color: #f76f72;
  transition: all .35s ease-Out;
}

#main{
  display: flex;
  flex-direction: row;
  padding:0px;
  width:calc(90% + 20px);
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border:unset;
  min-height: 400px;
}

#content{
  flex:1;
  min-height: 400px;

}

#Lbar{
  width:300px;
  min-height: 400px;
  margin-right: 50px;
}