@font-face {
    font-family: CaviarDreams_Bold;
    src: url("CaviarDreams_Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html{
    background-color: #373131;
    color:#f8fbff;
    font-family: CaviarDreams_Bold;
    text-align: center;
    font-size: 50px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="number"] {
    position: relative;
    width: 150px;
    height: 100px;
    padding: 0;
    
    background: none;
    color: #fff;
    font-size: 50px;
    line-height: 2em;
    font-weight: bold;
    text-align: center;
    border: 0;
    outline: 0;
    cursor: default;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
  height:90px;
}



input[type=text], input[type=password] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input{
  transition: all .35s ease-Out;
}

input[type=submit], input[type=reset] {
  width: 150px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit] {
  background-color: #45a049;
  transition: all .35s ease-Out;
}

input[type=submit]:hover {
  background-color: #5fdd63;
  transition: all .35s ease-Out;
}


input[type=reset] {
  background-color: #bf5658;
  transition: all .35s ease-Out;
}

input[type=reset]:hover {
  background-color: #f76f72;
  transition: all .35s ease-Out;
}

div{
    padding-top: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
}